apiVersion: broker.amq.io/v2alpha3
kind: ActiveMQArtemis
metadata:
  name: ex-aao
spec:
  deploymentPlan:
    size: 1
    image: quay.io/artemiscloud/activemq-artemis-broker-kubernetes:0.2.0
    resources:
      limits:
        cpu: 500m
        memory: 1024m
      requests:
        cpu: 250m
        memory: 512m

